:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --button-primary-bg-color: #f5f4fa;
  --hero-button-hover-color: #188ce8;
  --primary-bg-color: #2f303a;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
}
/*=============Common====================*/

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text-color);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*=============Header====================*/
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--header-border-color);
}
.page-header .container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.page-header .logo {
  margin-right: 93px;
  color: var(--black-text-color);
}
.logo-accent {
  color: var(--accent-text-color);
}
.nav {
  color: var(--primary-text-color);
}

.nav:hover,
.nav:focus {
  color: var(--accent-text-color);
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.current-page {
  color: var(--accent-text-color);
}
.addr {
  display: inline-block;

  color: var(--secondary-text-color);
}
.addr:hover,
.addr:focus {
  color: var(--accent-text-color);
}
.header-addr-list {
  display: flex;
  margin-left: auto;
}
.header-addr-item:not(:last-child) {
  margin-right: 50px;
}

/*=============Hero====================*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--primary-bg-color);
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);

  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover-color);
}

/*=============Advantages====================*/
.advantages {
  padding-bottom: 47px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-list-item {
  flex-basis: 270px;
}
.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*=============Spheres====================*/
.spheres {
  padding-top: 47px;
}
.spheres-list {
  display: flex;
  justify-content: space-between;
}

/*=============Team====================*/
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.team-list-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.teammate {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.teammate-position {
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*=============Portfolio====================*/
.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--button-primary-bg-color);

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -30px;
  margin-bottom: -30px;
}
.works-list-item {
  width: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-box {
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolio-title {
  margin-left: 24px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-description {
  margin-left: 24px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/*==============footer=============*/
.page-footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-text-color);
}

.real-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
 
.email,
.phone {
  display: inline-block;
  margin-top: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*====================================*/
